* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(61, 37, 37);
  color: rgb(235, 235, 235);
}
table,
tr,
th,
td {
  border-collapse: collapse;
  border: 1px solid white;
}

th {
  text-align: center;
}

tr,
th,
td {
  padding: 0.25rem 0.5rem;
}
